<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/css/style.css') }}" /> -->
<title>Image Captioning App</title>
<div>
    <h1>
        Deep Learning
    </h1>
    <p>
        Deep Learning
    </p>
</div> 

<div>
    <form method="post">
        <label for="image">Choose image:</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="readURL(this);">

        <input type="submit">
    </form>
</div>

<div id="data-table" style="height:500px; overflow-y: auto; display: inline-block;">
{{data|safe}}
{{request}}
<!-- <img src="{{image}}"> -->
{% if image %}
    <img src="{{ url_for('static', path=image) }}">
{% endif %}

</div>